.registerContainer {
  width: 100%;
  height: 100vh;
  background-color: #f7f7ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerWrapper {
  width: 400px;
}

.registerForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.registerFormTop {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.registerFormTop .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 20px;
}

.registerFormTop .title h5 {
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.registerFormCenter {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px 25px;
}

.registerFormElementContent {
  display: flex;
  align-items: center;
  position: relative;
}

.registerFormElementContent svg {
  color: #7a7f9a !important;
  background-color: rgba(230, 235, 245, .25) !important;
  position: absolute;
  top: 12px;
  left: 10px;
}

.registerFormElement {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 15px;
  margin-left: 0;
}

.registerInput {
  width: 100%;
  padding: 10px;
  background-color: rgba(230, 235, 245, .25) !important;
  border-radius: 3px;
  border: 1px solid rgba(200, 207, 221, 0.25) !important;
  padding-left: 30px;
}

.registerInput:focus {
  outline-color: #c6d8f5;
}

.registerInput::placeholder {
  color: rgb(160, 160, 160);
}

.registerBtn {
  border: none;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #488bf7;
  border-color: #7269ef;
  color: #fff;
  transition: all ease-in .2s;
}

.registerBtn:hover {
  background-color: #2272f2;
}

.registerFormBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.registerFormBottom span {
  font-size: 14px;
  color: #495057;
}

.registerFormBottom strong {
  color: #488bf7;
  cursor: pointer;
  transition: all ease-in .15s;
  cursor: pointer;
}

.registerFormBottom strong:hover {
  color: #2272f2;
}

.error {
  font-size: 11px;
  color: crimson;
  margin-top: -15px;
}

.submitError {
  font-size: 12px;
  display: block;
  text-align: center;
  padding: 5px;
  color: #7c253a;
  border-radius: 3px;
  animation: submitError .15s;
}

@keyframes submitError {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@media (max-width: 768px) {}